.login-container {
  background: #f5f6fa; /* color de fondo suave */
}

.card {
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}


h2 {
  color: #341162; 
}

.btn-primary {
  background-color: #341162;
  border-color: #341162;
}

.btn-primary:hover {
  background-color: #5a33a3;
  border-color: #5a33a3;
}